/node_modules
/public/storage
/public/build/
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.vapor/
.env.production
.env.staging
.build/
.phpunit.cache/
