/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/mix-manifest.json
/public/build/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vapor/
.env.production
.env.staging
.build/
