@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.error .input {
    @apply .border-red-500;
}

.error .label {
    @apply .text-red-500;
}

.input {
    @apply .w-full .bg-gray-200 .px-4 .py-2 .border-2 .border-transparent .rounded;
}

.input:focus {
    @apply .border-indigo-400;
}

.label {
    @apply .text-xs .font-semibold .tracking-wide .text-gray-600;
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #29d;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.brand-shadow {
    text-shadow: 2px 2px theme('colors.indigo.500');
}

.page-header::before,
.page-header::after {
    @apply .absolute .inset-x-0 .top-0 .bg-indigo-800;
    content: '';
    height: 125%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.page-header::before {
    content: '';
    z-index: -10;
    height: 125%;
    background: linear-gradient(135deg, theme('colors.indigo.800') 0%, theme('colors.indigo.600') 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.page-header::after {
    opacity: 35%;
    background-image: url('/images/preview.png');
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    z-index: -9;
}

.page-footer::before {
    @apply .absolute .inset-x-0 .bottom-0 .bg-gray-800;
    content: '';
    z-index: -10;
    height: 140%;
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
}


.history-cards li {
    @apply .mb-4;
}

@screen sm {
    .page-header::before,
    .page-header::after {
        height: 140%;
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    }

    .history-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .history-cards li {
        height: 220px;
    }
}

@screen lg {
    .history-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@screen xl {
    .page-header::before,
    .page-header::after {
        height: 145%;
        clip-path: polygon(0 0, 100% 0, 100% 52%, 0% 100%);
    }
}

.flash-enter-active,
.flash-leave-active {
    transition: all 0.4s ease;
}

.flash-enter,
.flash-leave-to {
    opacity: 0;
    transform: translateX(-12px);
}

.modal-enter-active,
.modal-leave-active {
    transition: all 0.3s linear;
}

.modal-enter,
.modal-leave-to {
    opacity: 0;
    transform: translateY(-25px);
}
