on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master


jobs:
  test:
    runs-on: ubuntu-latest
    name: Test

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: utgars_chronicles_test
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel--composer-${{ hashFiles('**/composer.lock') }}

      - name: Install PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: 7.4
          tools: prestissimo
          extensions: pdo, mysql, pdo_mysql
          coverage: none

      - name: Install Dependencies
        run: composer install

      - name: Setup Application
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Run Tests
        run: vendor/bin/phpunit
        env:
          DB_PORT: ${{ job.services.mysql.ports[3306] }}

  deploy:
    on:
      release:
        types: [published]
    needs: test
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Trigger Envoyer Deploy
        uses: wei/curl@v1
        with:
          args: ${{secrets.ENVOYER_DEPLOY_URL}}
